<form action="/" method="POST">
	<div>
		<label>Title</label>
		<input type="text" name="title" placeholder="Enter a Title">
	</div>
	<div>
		<label>Release</label>
		<input type="date" name="release" placeholder="YYYY-MM-DD">
	</div>
	<div>
		<label>Album Cover</label>
		<input type="text" name="cover" placeholder="Image URL">
	</div>
	<div>
		<label>Review</label>
		<textarea name="review" placeholder="The Review"></textarea>
	</div>
	<div>
		<input type="submit" name="Save Album">
	</div>
</form>