/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
	border:2px solid black;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(images/bgtile.png);
  background-repeat: repeat-x;
}

main {
	margin: 120px;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

footer {
	clear: left;
}

#iconGroup {
	height: 82px;
}

#sectionLeft {
	display:inline-block;
	float:left;
	width:370px;
}

#sectionRight {
	display: inline-block;
	float: left;
	width: 509px;
}

.icons {
	display:inline-block;
	float: left;
}

#frame {
	padding: 8px 40px;
	clear: left;
	/*width: 284px;*/
	background-image: url(images/frame.png);
	background-repeat: no-repeat;
	background-size: contain;
	/*background-position: center top;*/
	background-color: #ffffff;
}

.badges {
	display:inline-block;
	float:left;
}