

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(images/bgtile.png);
  background-repeat: repeat-x;
  margin-top:95px;
}

main {
	width: 870px;
	margin: 0 auto;
}

h1 {
	font-size:24px;
	color: #06365f;
	margin: 0px;
}

span {
	font-weight: bold;
}

ul {
	font-weight: bold;
	list-style: none;
	text-align: center;
	padding-top:52px;
}

li {
	display: inline-block;
	color: #1c5380;
	font-size:0.7rem;
	padding-right:8px;
}

footer {
	clear: left;
}

#h1top {
	margin-top: 33px;
}

#iconGroup {
	display: inline-block;
	float:left;
	height: 82px;
	width: 318px;
}

#sectionLeft {
	display:inline-block;
	float:left;
	width:369px;
}

#sectionRight {
	display: inline-block;
	float: left;
	width: 489px;
}



#logo {
	width:318px;
	height:78px;
}

.icon {
	float:right;
	width:179px;
	height:78px;
	margin-right:-222px;
	color:#eaedf2;
	font-weight: bold;

	position:absolute;
	top: 123px;
	right:422px;
}

#frame {
	height:345px;
	padding: 8px 40px;
	clear: left;
	background-image: url(images/frame.png);
	background-repeat: no-repeat;
	background-size: contain;
	color:#3f3f3f;
	font-size:15px;
}

.badges {
	display:inline-block;
	float:left;
	padding-left:35px;
	height: 55px;
}

#copyright {
	color: #b2b2b2;
}