/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
	border:2px solid black;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(images/bgtile.png);
  background-repeat: repeat-x;
  margin-top:95px;
}

main {
	width: 870px;
	margin: 0 auto;
}

h1 {
	color: #06365f;
	margin: 0px;
}

#h1top {
	margin-top: 33px;
}

span {
	font-weight: bold;
}

ul {
	font-weight: bold;
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
	color: #1c5380;
	font-size:0.8rem;
}

footer {
	clear: left;
}

#iconGroup {
	height: 82px;
}

#sectionLeft {
	display:inline-block;
	float:left;
	width:369px;
}

#sectionRight {
	display: inline-block;
	float: left;
	width: 489px;
}

.icons {
	display:inline-block;
	float: left;
	margin-top
	height:78px;
}

#frame {
	height:345px;
	padding: 8px 40px;
	clear: left;
	/*width: 284px;*/
	background-image: url(images/frame.png);
	background-repeat: no-repeat;
	background-size: contain;
	/*background-position: center top;*/
	background-color: #ffffff;
}

.badges {
	display:inline-block;
	float:left;
	margin-right: auto;
	margin-left: auto;
	height: 55px;
}

#copyright {
	color: grey;
}