<form action="/<%= @painting.id %>" method="POST">
	<% if(@painting.id != "") %>
		<input type="hidden" name="_method" value="PUT">
	<% end %>
	<div>
		<label>Painting URL</label>
		<input type="text" name="photo" placeholder="Enter URL" value="<%= @painting.photo %>">
	</div>
	<div>
		<label>Description</label>
		<textarea name="desciption" placeholder="Description"><%= @painting.description %></textarea>
	</div>
	<div>
		<input type="date" name="day" value="Date">
	</div>
	<div>
		<input type="submit" value="Save Painting">
	</div>
	<!-- <div>
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete">
	</div> -->
</form>