<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item"><h2><%= @title %></h2></li>
		<li class="nav-item"><a href="/">Gallery</a></li>
		<li class="nav-item"><a href="/new">New Painting</a></li>
	</ul>
</nav>