<h1><%= @post[:title] %></h1>
<p><%= @post[:content] %></p>
<a href="/<%= @post[:id]%>/edit"> Edit</a>
<form action="<%= @post[:id] %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>