<% @paintings.each do |painting| %>
<div>
	<img src="/<%= painting.photo %>">
	<div>
		<%= painting.description %>
	</div>
	<div>
		<a href="/<%= painting.id %>"><%= painting.day %></a>
	</div>
</div>
<% end %>