<!-- $i = 0 -->
<div class="container">
<%# while $i < @length %>
	<div class="row">
	<% @paintings.each do |painting| %>
		<div class="col-md-4" class="columns">
			<h3>
				<a href="/<%= painting[:id] %>"><%= painting[:title] %></a>
			</h3>
			<button type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="image" src="/images/<%= painting[:image] %>"></button>
		</div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="button-container">
  			<div class="modal-dialog modal-lg" role="document">
   				 <div class="modal-content">
   				 		<img src="/images/<%= painting[:image] %>">
   				 </div>
  			</div>
		</div>
		<!-- $i += 1 -->
	<% end %>	
	</div>
<%# end %>
</div>
<%# -- a row of three %>